.map-sidebar-container {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 20%;
  background-color: white;
  opacity: 0.8;
  height: 10%;
  transition: all ease-in-out 1s;
}

.map-sidebar-container__closed {
  position: absolute;
  width: 1%;
  left: 100%;
  top: 20%;
  background-color: white;
  opacity: 0.8;
  height: 10%;
  transition: all ease-in-out 1s;
}

.map-toggle-button {
  position: absolute;
  width: 5%;
  height: 10%;
  left: 95%;
  top: 20%;
  border: none;
  opacity: 0.8;
  background-color: white;
}

.map-toggle-button:hover {
  background-color: whitesmoke;
}
