.avatar-sidebar-container {
  position: absolute;
  width: 90%;
  left: 10%;
  top: 10%;
  background-color: #a8864b;
  height: 15vh;
  transition: left ease-in-out 1s;
  border: solid 0.5rem #665126;
}

.avatar-sidebar-container__closed {
  position: absolute;
  width: 90%;
  left: 100%;
  top: 10%;
  background-color: #a8864b;
  height: 15vh;
  transition: left ease-in-out 1s;
  border: solid 0.5rem #665126;
}

.avatar-toggle-button {
  font-size: x-large;
  position: absolute;
  width: 2%;
  height: 15vh;
  left: 98%;
  top: calc(10vh + 0.5rem);
  border: none;
  background-color: #a8864b;
  transition: background-color 0.3s ease-out;
}

.avatar-sidebar-content {
  display: flex;
}

.add-avatar-button {
  font-size: xx-large;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10vw;
  height: 15vh;
  border: none;
  background-color: #a8864b;
  transition: background-color 0.3s ease-out;
}

.add-avatar-button:hover {
  background-color: #ddc4a1;
}

.avatar-toggle-button:hover {
  background-color: #ddc4a1;
}
