.sidebar-form {
  display: flex;
  flex-basis: 10vw;
  flex-direction: column;
}

.sidebar-form-save {
  margin-top: auto;
  border: none;
  background-color: #a8864b;
  transition: background-color 0.3s ease-out;
  font-size: large;
}

.sidebar-form-save:hover {
  background-color: #ddc4a1;
}
